.containerImage {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 54vh;
  max-height: 1200px;
  min-height: 200px;
  position: relative;
}

.containerImage:first-child {
  height: 90vh;
}

.cvr-1 {
  background-image: url("../../Content/homeCover.jpg");
}

.cvr-2 {
  background-image: url("../../Content/railwayCover.jpg");
}

.cvr-3 {
  background-image: url("../../Content/waterCover.jpg");
}
