<div class="aboutContainer">
    <section class="containerText">
            <div class="aboutText">
                <div class="aboutDetail">
                    <h2 class="aboutTextElement">Trochę</h2>
                    <h1 class="aboutTextElement">O mnie</h1>
                </div>
                <h5 class="aboutTextElement">
            </div>
    </section>
    <section class="containerImage cvr-2"></section>
    <section class="containerText bg-red">
        <div class="containerTextInner">
            <h1>W budowie</h1>
        </div>
    </section>
    <section class="containerImage cvr-3"></section>
    <section class="containerText bg-blue">
        <div class="containerTextInner">
            <h2>Nowy paragraf</h2>
        </div>
    </section>
</div>