<div class="homeContainer">
    <section class="containerImage cvr-1">
        <div class="homeTextContainer">
            <h1 class="homeWelcome">Cześć</h1>
            <h5 class="homeWelcome">jestem Michał</h5>
        </div>       
    </section>
    <section class="containerText">
        <h1>Strona w budowie: MainPage</h1>
        <h5>{{czas}}</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis neque elit. Fusce ultrices tincidunt tristique. Donec eget nisl vitae eros ullamcorper tempus. Donec eget est nec orci laoreet consequat non quis leo. Mauris vitae ornare orci. Fusce dapibus dictum sagittis. Sed quis tempor velit. Fusce ultricies eros sed enim aliquet, vitae pharetra sem suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur sed vehicula nisi. Sed tempor orci a maximus venenatis. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis neque elit. Fusce ultrices tincidunt tristique. Donec eget nisl vitae eros ullamcorper tempus. Donec eget est nec orci laoreet consequat non quis leo. Mauris vitae ornare orci. Fusce dapibus dictum sagittis. Sed quis tempor velit. Fusce ultricies eros sed enim aliquet, vitae pharetra sem suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur sed vehicula nisi. Sed tempor orci a maximus venenatis. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis neque elit. Fusce ultrices tincidunt tristique. Donec eget nisl vitae eros ullamcorper tempus. Donec eget est nec orci laoreet consequat non quis leo. Mauris vitae ornare orci. Fusce dapibus dictum sagittis. Sed quis tempor velit. Fusce ultricies eros sed enim aliquet, vitae pharetra sem suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur sed vehicula nisi. Sed tempor orci a maximus venenatis. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis neque elit. Fusce ultrices tincidunt tristique. Donec eget nisl vitae eros ullamcorper tempus. Donec eget est nec orci laoreet consequat non quis leo. Mauris vitae ornare orci. Fusce dapibus dictum sagittis. Sed quis tempor velit. Fusce ultricies eros sed enim aliquet, vitae pharetra sem suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur sed vehicula nisi. Sed tempor orci a maximus venenatis. </p>
    </section>
</div>
