<div class="homeContainer">
    <section class="containerImage cvr-1 paral">
        <div class="homeTextContainer">
            <h1 class="homeWelcome">Cześć</h1>
            <h5 class="homeWelcome">jestem Michał</h5>
        </div>       
    </section>
    <section class="containerText bg-gray paral">
        <div class="containerTextInner">
            <div class="containerRow">
                <div class="containerCol-12 rowHeader">
                    <h1>Lorem ipsum</h1>
                    <p>dolor sit amet</p>
                </div>
            </div>            
        </div>
    </section>
</div>
