.bg-red {
    // background-image: url('../../Content/redBng.jpg');
    background-color: #f9527a;
    color: white;
}

.bg-blue {
    // background-image: url('../../Content/blueBng.jpg');
    background-color: #a6d8fb;
    color: white;
}

.bg-gray {
    background-image: url('../../Content/grayBng.jpg');
    color: black;
}