@import '_mixins.scss';
@import '_bodyElements.scss';
@import '_paralax.scss';
@import '_containers.scss';
@import '_colorClasses.scss';

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Raleway:700,900');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.row {
    height: 100%;
}

.col-left {
    width: 5%;
    height: 100%;
    background-image: url("../../Content/col-left.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left:0;
    top:0;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.col-right {
    width: 95%;
    padding-left: 5%;
    height:100%;
    background-color: #eee;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}
